<mat-nav-list>
  <a routerLink="/signup" mat-list-item>
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a routerLink="/login" mat-list-item>
    <mat-icon>login</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a routerLink="/training" mat-list-item>
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Training</span>
  </a>
  <mat-list-item>
    <button mat-raised-button color="warn" class="btn-logout">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-list-item>
</mat-nav-list>
